@media screen and (min-width: 1024px){
    header{
        nav{
            .logo{
                .img-logo{
                    width: 10vw;
                    margin-left: 9em;
                }
            }
            
            .create-button{
                display: inline-block;
                width: 100px;
                height: 100px;
                margin: 0.5em 6em 0 0;
                background: url('../images/button-crear-gifo.svg') no-repeat;

                &:hover{
                    background: url('../images/CTA-crear-gifo-hover.svg') no-repeat;
                }
            }

            label{
                #icon-burger{
                    display: none;
                }
            }

            ul{
                display: flex;
                justify-content: space-evenly; 
                background: white;
                margin: 0 15em 0 0;
                width: 40vw;
                height: 10vh;
                line-height: 10vh;

                hr{
                    display: none;
                }

                .list{
                    margin: 0;
                    cursor: pointer;
                                
                    a{
                        color:#572EE5;
                    }  
                    .active{
                        color: #9CAFC3;
                    }
                }
            
            }

        }
    }
    .more-btn{
        button{
            &:hover{
                background:#572EE5;
                color: white;
            }
        }
       
    }
   
    .start-content{
        h2{
            font-size: 2.2em;
            margin: 2em 9em 1em;
            line-height: 15vh;
        }
    
        .img-friends{
            
            .friends{
                width: 40vw;
            }
        }
    
        .container-search{
            #search{
                width: 50%;

                #autocomplete-input{
                    width: 83%;
                }                
            }
        }
    }  
    
    #trending-content{
        
        p{
            margin-bottom: 4em;
        }

        #show-gifts{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px 10px;

            .card-gif{
                width: 260px;
                .img-gif{
                    max-width: 100%;
                }    
            }
        }
        
        .card-gif{
                position: relative;
                width: 357px;
        
                .icons-gif {
                    opacity: 0.7;
                    background: #572EE5;
                    display: none;
                    justify-content: flex-end;
                    gap: 5px;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;

                    .icons{
                        width: 100%;
                        width: 40px;
                        height: 40px;
                        border: transparent;
                        outline: none;
                        margin-top: 10px;
                    }
                    
                    .icon-fav{
                        background: url('../images/icon-fav.svg') no-repeat;
                        
                    }
                    .icon-dow{
                        background: url('../images/icon-download.svg') no-repeat;
                    }
                    .icon-max{
                        background: url('../images/icon-max-normal.svg') no-repeat;
                    }
                    .info{
                        position: absolute;
                        top: 60%;
                        left: 0;
                        
                        h5{
                            text-transform: capitalize;
                            line-height: 20px;
                            margin-left: 12px;
                            color: white;
                        }
                    }
                }
                &:hover .icons-gif {
                    display: flex;
                }            
        }
         
        .trending-gifos{
            p{
                margin-left: 15em;
            }
            .slider-gifos{
                display: flex;
                justify-content: space-evenly;

                #slider-left{
                    display: inline-block;
                    margin-top: 4.5em;
                    width: 40px;
                    height: 40px;
                    background: url('../images/button-slider-left.svg') no-repeat;
        
                    &:hover{
                        background: url('../images/button-slider-left-hover.svg') no-repeat;
                    }
                }
        
                #slider-rigth{
                    display: inline-block;
                    margin-top: 4.5em;
                    width: 40px;
                    height: 40px;
                    background: url('../images/Button-Slider-right.svg') no-repeat;
        
                    &:hover{
                        background: url('../images/Button-Slider-right-hover.svg') no-repeat;
                    }
                }
                
            }
        }        
    }

    #show-gifts-favs{
        grid-template-columns: repeat(4, 1fr);

        .card-gif{
            width: 260px;
            .img-gif{
                max-width: 100%;
            }    
        }
    }

    .no-favs{
        .img-nofavs{
            width: 150px;
            margin-top: 6em;
        }
        
        h3{
            width: 450px;
        }
    }

    #container-create-gifos{        
        
        .rectangle{
            width: 55vw;
            height: 390px;
            border: 1px solid #572EE5;
            margin: 0 auto;

            .top {
                display: flex;
                justify-content: space-between;
                margin: 10px;
            }
            .container-text{
                text-align: center;
                width: 55vw;
                height: 300px;

                .text{
                    padding-top: 100px;

                    h2{
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        font-size: 25px;
                        color: #572EE5;
                        text-align: center;
                        line-height: 35px;

                        span{
                            color: #50E3C2;
                        }
                    }

                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        color: #000000;
                        text-align: center;
                        line-height: 29px;
                    }
                }
            }
            
            .bottom{
                display: flex;
                justify-content: space-between;
                margin: 10px;
                align-items: flex-end;
            }
            .square{
                width: 27px;
                height: 25px;
                border-top: 1px solid #50E3C2;
                border-left: 1px solid #50E3C2;
            }

            .two{
                transform: rotate(-270deg);
            }

            .three{
                transform: rotate(-90deg);
            }

            .four{
                transform: rotate(-180deg);
            }
        }
    }
    .camera{
        position: absolute;
        top: 60vh;
        left: 5vw;
    }
    #container-numbers{

        .numbers{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 100px;
        }
        .number{
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            border: 1px solid #572EE5;
            text-align: center;
            line-height: 30px;
            color: #572EE5;
        }
    }
    .movie{
        position: relative;

        .img-movie{
            position: absolute;
            top: -110px;
            right: 5vw;
        }
    }
    
    .line{
        width: 63%;
        height: 7px;
        margin: 0 auto;
        background: #572EE5;
        margin-bottom: 2em;
    }

    .btn{
        display: block;
        width: 127px;
        height: 50px;
        margin-top: 5em;
        border: 1px solid #572EE5;
        border-radius: 25px;
        background: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: #572EE5;
        margin: 0 auto;
        margin-bottom: 7em;
    }
    footer{
        .info-footer{
            display: flex;
            justify-content: start;

            p{
                margin-left: 9em;
            }

            .red{
                margin: 0 25em 0 2em;
        
                .red1{
                    width: 2vw;
                    &:hover{
                        background: url('../images/icon_facebook_hover.svg') no-repeat;
                    }                   
                }
                .red2{
                    width: 3vw;
                    &:hover{
                        background: url('../images/icon-twitter-hover.svg') no-repeat;
                    }                   
                }
                .red3{
                    &:hover{
                        background: url('../images/icon_instagram-hover.svg') no-repeat;
                    }                   
                }
                
            }
        }  
    }
}



