*{
    margin: 0;
    padding: 0;
}

body{
    transition: .3s ease all;

    &.dark{
        background: $grayDarkM;
    }
}

header{

    nav{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        line-height: 5vh;
        border-top: 5px solid $blue;

        body.dark & {
            border-top: 5px solid $black;
        }

        .logo{
           .img-logo{
               width: 15vw;
               margin: 1em;
           }
        }

        .menu{
            margin-left: auto;
        }

        .create-button{
            display: none;
        }
        
        ul{
            display: none;
            position: absolute;
            right: 0;
        }

        #icon-x{
            display: none;
        }

        input{
            display: none;
        
            &:checked ~ ul{
            display: block;
            }
        }

        label{
            display: inline-block;
            margin-top: 1.2em;
            margin-right: 1.5em;       
        
            #icon-burger{
                font-size: 1.2rem;   
                color: $blue;

                body.dark & {
                    color: $white;
                }
            }
        }

        input{
            &:checked ~ label{

                #icon-burger{
                    display: none;
                }

                #icon-x{
                    display: block;
                    font-size: 1.18rem;
                    color: $blue;

                    body.dark & {
                        color: $white;
                    }
                }
            }
        }

        ul{
            margin-top: 2em;
            width: 100vw;
            height: 100vh;            
            background: $sombraBlue;

            body.dark & {
                background: $black;
            }

            li{
                display: block;
                margin-top: 2em;
                font-size: 1rem;
                font-family: 'Montserrat', sans-serif;
                text-align: center;

                hr{
                    width: 13%;
                    margin: 0 auto;
                    background-color: $white;
                    opacity: 0.5;
                    margin-top: 0.8em;
                }
                
                a{
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
    #light-mode{
        display: none;
    }
}

.start-content{

    h2{
        margin: 0.5em 2.5em 1.5em;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.56rem;
        color: $blue;
        text-align: center;
        line-height: 8vh;

        body.dark & {
            color: $white;
        }
        span{
            color: $turquoise;
        }
    }

    .img-friends{
        
        .friends{
            display: block;
            margin: 0 auto;
            width: 80vw;
        }
    }

    .container-search{
        #search{
            margin: 0 auto;
            padding:0.5em;
            border-radius: 1.5em;
            border: 0.1em solid $blue;
            width: 80%;

            body.dark & {
                border: 0.1em solid $white;
            }

            #search-img{
                visibility: hidden;
                margin-left: 1em;
                opacity: 0.3;
                width: 18px;
                height: 18px;

                body.dark & {
                    content: url("../images/icon-search-mod-noc.svg");
                }
            }

            #show-results{
                ul{
                
                    li{
                        list-style: none;
                        margin: 0.5em;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1em;
                        color: $blueGray;
                        
                        body.dark & {
                            color: $white;
                        }

                        img{
                            width: 15px;
                            margin-right: 1em;
                            opacity: 0.6;

                            body.dark & {
                                content: url("../images/icon-search-mod-noc.svg");
                            }
                        }
                        
                    }
                }
            }

            .mystyle{
                opacity: 0.5;
                border-top: 1px solid $blueGray;  
                width: 90%;
                margin: 0 auto;      
            }
        
            #autocomplete-input{
                width: 73%;
                margin-left: 0.5em;
                line-height: 5vh;
                border: none;
                text-transform: capitalize;
                       
                body.dark & {
                    background: $grayDarkM;
                    color: $white;
                }

                &:focus{
                    outline: none;
                }
            }

            input::placeholder {
                font-family: Roboto-Regular;
                font-size: 16px;
                color: $blueGray;
                text-align: left;
            }

            #search-img-close{

                body.dark & {
                    content: url("../images/icon-search-mod-noc.svg");
                }
            }
        }
    }  
    
}
.more-btn{
    display: flex;
    justify-content: center;

    button{
        width: 127px;
        height: 50px;
        margin-top: 5em;
        border: 1px solid $blue;
        border-radius: 25px;
        background: $white;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: $blue;

        body.dark & {
            background: $grayDarkM;
            border: 1px solid $white;
            color: $white;
        }
        
        
    }
}

.card-gif{
    margin: 0 auto;
    width: 156px;

    .img-gif{
        max-width: 100%;
    }

    .icons-gif{
        display: none;
    }
}

#trending-content{
    margin-top: 2em;
    h3{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: $blue;
        text-align: center;
        line-height: 25px;

        body.dark & {
            color: $white;
        }
    }

    h4{
        margin-top: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: $turquoise;
        text-align: center;
        line-height: 25px; 
    }

    hr{
        width: 40%;
        margin: 0 auto;
        background-color: $blueGray;
        opacity: 0.5;
        margin-top: 2.18em;
    }
    
    img{
        display: block;
        margin: 0 auto;
       
    }
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        margin: 2em 0 1.6em;
        color: $blue;
        text-align: center;
        line-height: 40px;
        text-transform: capitalize;

        body.dark & {
            color: $white;
        }
    }

    p{
        font-family: 'Montserrat', sans-serif;;
        font-size: 0.8rem;
        color: $blue;
        text-align: center;
        line-height: 25px;
        margin: 0 7em;
        text-transform: capitalize;

        body.dark & {
            color: $white;
        }

    }
   
    #show-gifts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .trending-gifos{
        margin-top: 3em;
        padding-bottom: 3em;
        background: $whiteGray;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        
        &::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
        }

        body.dark & {
            background: $grayDark;
        }

        .slider-gifos{

            #img-trending{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                
                .card-gif{
                    width: 243px;

                    .img-gif{
                        max-width: 100%;                        
                    }
                }
            }
            
            #slider-left{
                display: none,
            }
        
            #slider-rigth{
                display: none,
            }
        }

        h3{
            padding-top: 2.5em;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 1.25rem;  
            color: $blue;
            text-align: center;
        }

        p{
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            color: $black;
            text-align: center;
            line-height: 23px;
            width: 60vw;
            margin: 1em 3em 2em 4.5em;
        }

    }
}

#favourite{
    margin-top: 1em;
    img{
        display: block;
        margin: 0 auto;
    }
    h3{
        padding-top: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.25rem;  
        color: $blue;
        text-align: center;
    }
}
#show-gifts-favs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5em;
    grid-gap: 15px 5px;
    justify-items: center;
    align-items: center;
}

.no-favs{
    .img-nofavs{
        display: block;
        margin: 0 auto;
    }
    h3{
        margin: 0 auto;
        margin-top: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: $turquoise;
        text-align: center;
        line-height: 25px; 
        width: 320px;
        
    }
}

#myModal{
    display: none;
}
footer{
    .info-footer{
        margin-top: 2em;
        text-align: center;
        border-bottom: 5px solid $blue;

        body.dark & {
            border-bottom: 5px solid $black;
        }

        p{
            font-family: 'Roboto', sans-serif;
            font-size: 0.9rem;
            color: $black;
            margin-bottom: 1em;

            body.dark & {
                color: $white;
            }
        }

        .red{
            margin: 1em 0 1.5em;
            
            .red1{
                display: inline-block;
                width: 7vw;
                height: 12vh;
                background: url('../images/icon_facebook.svg') no-repeat;
            }

            .red2{
                display: inline-block;
                width: 9vw;
                height: 12vh;
                background: url('../images/icon-twitter.svg') no-repeat;
            }

            .red3{
                display: inline-block;
                width: 5vw;
                height: 12vh;
                background: url('../images/icon_instagram.svg') no-repeat;
            }
        }
    }
    
}

