$blue: #572EE5;
$sombraBlue: rgba(87,46,229,0.90);
$white: white;
$turquoise: #50E3C2;
$black: #000000;
$whiteGray: #F3F5F8;
$blueGray: #9CAFC3;
$gray: #CED7E1;
$grayDarkM: #37383C;
$grayDark: #222326;
$lineTur: #5ED7C6;