* {
  margin: 0;
  padding: 0; }

body {
  transition: .3s ease all; }
  body.dark {
    background: #37383C; }

header nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  line-height: 5vh;
  border-top: 5px solid #572EE5; }
  body.dark header nav {
    border-top: 5px solid #000000; }
  header nav .logo .img-logo {
    width: 15vw;
    margin: 1em; }
  header nav .menu {
    margin-left: auto; }
  header nav .create-button {
    display: none; }
  header nav ul {
    display: none;
    position: absolute;
    right: 0; }
  header nav #icon-x {
    display: none; }
  header nav input {
    display: none; }
    header nav input:checked ~ ul {
      display: block; }
  header nav label {
    display: inline-block;
    margin-top: 1.2em;
    margin-right: 1.5em; }
    header nav label #icon-burger {
      font-size: 1.2rem;
      color: #572EE5; }
      body.dark header nav label #icon-burger {
        color: white; }
  header nav input:checked ~ label #icon-burger {
    display: none; }
  header nav input:checked ~ label #icon-x {
    display: block;
    font-size: 1.18rem;
    color: #572EE5; }
    body.dark header nav input:checked ~ label #icon-x {
      color: white; }
  header nav ul {
    margin-top: 2em;
    width: 100vw;
    height: 100vh;
    background: rgba(87, 46, 229, 0.9); }
    body.dark header nav ul {
      background: #000000; }
    header nav ul li {
      display: block;
      margin-top: 2em;
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
      text-align: center; }
      header nav ul li hr {
        width: 13%;
        margin: 0 auto;
        background-color: white;
        opacity: 0.5;
        margin-top: 0.8em; }
      header nav ul li a {
        text-decoration: none;
        color: white; }
header #light-mode {
  display: none; }

.start-content h2 {
  margin: 0.5em 2.5em 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.56rem;
  color: #572EE5;
  text-align: center;
  line-height: 8vh; }
  body.dark .start-content h2 {
    color: white; }
  .start-content h2 span {
    color: #50E3C2; }
.start-content .img-friends .friends {
  display: block;
  margin: 0 auto;
  width: 80vw; }
.start-content .container-search #search {
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 1.5em;
  border: 0.1em solid #572EE5;
  width: 80%; }
  body.dark .start-content .container-search #search {
    border: 0.1em solid white; }
  .start-content .container-search #search #search-img {
    visibility: hidden;
    margin-left: 1em;
    opacity: 0.3;
    width: 18px;
    height: 18px; }
    body.dark .start-content .container-search #search #search-img {
      content: url("../images/icon-search-mod-noc.svg"); }
  .start-content .container-search #search #show-results ul li {
    list-style: none;
    margin: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #9CAFC3; }
    body.dark .start-content .container-search #search #show-results ul li {
      color: white; }
    .start-content .container-search #search #show-results ul li img {
      width: 15px;
      margin-right: 1em;
      opacity: 0.6; }
      body.dark .start-content .container-search #search #show-results ul li img {
        content: url("../images/icon-search-mod-noc.svg"); }
  .start-content .container-search #search .mystyle {
    opacity: 0.5;
    border-top: 1px solid #9CAFC3;
    width: 90%;
    margin: 0 auto; }
  .start-content .container-search #search #autocomplete-input {
    width: 73%;
    margin-left: 0.5em;
    line-height: 5vh;
    border: none;
    text-transform: capitalize; }
    body.dark .start-content .container-search #search #autocomplete-input {
      background: #37383C;
      color: white; }
    .start-content .container-search #search #autocomplete-input:focus {
      outline: none; }
  .start-content .container-search #search input::placeholder {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #9CAFC3;
    text-align: left; }
  body.dark .start-content .container-search #search #search-img-close {
    content: url("../images/icon-search-mod-noc.svg"); }

.more-btn {
  display: flex;
  justify-content: center; }
  .more-btn button {
    width: 127px;
    height: 50px;
    margin-top: 5em;
    border: 1px solid #572EE5;
    border-radius: 25px;
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5; }
    body.dark .more-btn button {
      background: #37383C;
      border: 1px solid white;
      color: white; }

.card-gif {
  margin: 0 auto;
  width: 156px; }
  .card-gif .img-gif {
    max-width: 100%; }
  .card-gif .icons-gif {
    display: none; }

#trending-content {
  margin-top: 2em; }
  #trending-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #572EE5;
    text-align: center;
    line-height: 25px; }
    body.dark #trending-content h3 {
      color: white; }
  #trending-content h4 {
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #50E3C2;
    text-align: center;
    line-height: 25px; }
  #trending-content hr {
    width: 40%;
    margin: 0 auto;
    background-color: #9CAFC3;
    opacity: 0.5;
    margin-top: 2.18em; }
  #trending-content img {
    display: block;
    margin: 0 auto; }
  #trending-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin: 2em 0 1.6em;
    color: #572EE5;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize; }
    body.dark #trending-content h2 {
      color: white; }
  #trending-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin: 0 7em;
    text-transform: capitalize; }
    body.dark #trending-content p {
      color: white; }
  #trending-content #show-gifts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center; }
  #trending-content .trending-gifos {
    margin-top: 3em;
    padding-bottom: 3em;
    background: #F3F5F8;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */ }
    #trending-content .trending-gifos::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0; }
    body.dark #trending-content .trending-gifos {
      background: #222326; }
    #trending-content .trending-gifos .slider-gifos #img-trending {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      #trending-content .trending-gifos .slider-gifos #img-trending .card-gif {
        width: 243px; }
        #trending-content .trending-gifos .slider-gifos #img-trending .card-gif .img-gif {
          max-width: 100%; }
    #trending-content .trending-gifos .slider-gifos #slider-left {
      display: none; }
    #trending-content .trending-gifos .slider-gifos #slider-rigth {
      display: none; }
    #trending-content .trending-gifos h3 {
      padding-top: 2.5em;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.25rem;
      color: #572EE5;
      text-align: center; }
    #trending-content .trending-gifos p {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      color: #000000;
      text-align: center;
      line-height: 23px;
      width: 60vw;
      margin: 1em 3em 2em 4.5em; }

#favourite {
  margin-top: 1em; }
  #favourite img {
    display: block;
    margin: 0 auto; }
  #favourite h3 {
    padding-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #572EE5;
    text-align: center; }

#show-gifts-favs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2.5em;
  grid-gap: 15px 5px;
  justify-items: center;
  align-items: center; }

.no-favs .img-nofavs {
  display: block;
  margin: 0 auto; }
.no-favs h3 {
  margin: 0 auto;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #50E3C2;
  text-align: center;
  line-height: 25px;
  width: 320px; }

#myModal {
  display: none; }

footer .info-footer {
  margin-top: 2em;
  text-align: center;
  border-bottom: 5px solid #572EE5; }
  body.dark footer .info-footer {
    border-bottom: 5px solid #000000; }
  footer .info-footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 1em; }
    body.dark footer .info-footer p {
      color: white; }
  footer .info-footer .red {
    margin: 1em 0 1.5em; }
    footer .info-footer .red .red1 {
      display: inline-block;
      width: 7vw;
      height: 12vh;
      background: url("../images/icon_facebook.svg") no-repeat; }
    footer .info-footer .red .red2 {
      display: inline-block;
      width: 9vw;
      height: 12vh;
      background: url("../images/icon-twitter.svg") no-repeat; }
    footer .info-footer .red .red3 {
      display: inline-block;
      width: 5vw;
      height: 12vh;
      background: url("../images/icon_instagram.svg") no-repeat; }

@media screen and (min-width: 1024px) {
  header nav .logo .img-logo {
    width: 6vw;
    margin-left: 9em; }
  header nav .create-button {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0.5em 6em 0 0;
    background: url("../images/button-crear-gifo.svg") no-repeat; }
    body.dark header nav .create-button {
      background: url("../images/CTA-crear-gifo-modo-noc.svg") no-repeat; }
      body.dark header nav .create-button:hover {
        background: url("../images/CTA-crar-gifo-modo-noc.svg") no-repeat; }
      body.dark header nav .create-button:active {
        background: url("../images/CTA-crear-gifo-active-modo-noc.svg") no-repeat; }
    header nav .create-button:hover {
      background: url("../images/CTA-crear-gifo-hover.svg") no-repeat; }
      header nav .create-button:hover:active {
        background: url("../images/CTA-crear-gifo-active.svg") no-repeat; }
  header nav label #icon-burger {
    display: none; }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    background: white;
    margin: 0 15em 0 0;
    width: 40vw;
    height: 10vh;
    line-height: 10vh;
    transition: .3s ease all; }
    body.dark header nav ul {
      background: #37383C; }
    header nav ul hr {
      display: none; }
    header nav ul .list {
      margin: 0;
      text-transform: uppercase;
      cursor: pointer; }
      header nav ul .list a {
        color: #572EE5; }
        body.dark header nav ul .list a {
          color: white; }
          body.dark header nav ul .list a:hover {
            border-bottom: 2px solid #5ED7C6; }
        header nav ul .list a:hover {
          border-bottom: 2px solid #5ED7C6; }
      header nav ul .list .active {
        color: #9CAFC3; }

  .more-btn button:hover {
    background: #572EE5;
    color: white; }
  body.dark .more-btn button:hover {
    background: white;
    color: black; }

  .start-content h2 {
    font-size: 2.2em;
    margin: 2em 9em 1em;
    line-height: 15vh; }
  .start-content .img-friends .friends {
    width: 40vw; }
  .start-content .container-search #search {
    width: 50%; }
    .start-content .container-search #search #autocomplete-input {
      width: 83%; }

  #trending-content p {
    margin-bottom: 4em; }
  #trending-content #show-gifts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px 10px; }
    #trending-content #show-gifts .card-gif {
      width: 260px; }
      #trending-content #show-gifts .card-gif .img-gif {
        max-width: 100%; }
  #trending-content .card-gif {
    position: relative;
    width: 357px; }
    #trending-content .card-gif .icons-gif {
      opacity: 0.7;
      background: #572EE5;
      display: none;
      justify-content: flex-end;
      gap: 5px;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0; }
      #trending-content .card-gif .icons-gif .icons {
        width: 100%;
        width: 40px;
        height: 40px;
        border: transparent;
        outline: none;
        margin-top: 10px; }
      #trending-content .card-gif .icons-gif .icon-fav {
        background: url("../images/icon-fav.svg") no-repeat; }
        #trending-content .card-gif .icons-gif .icon-fav:hover {
          background-image: url("../images/icon-fav-hover.svg"); }
      #trending-content .card-gif .icons-gif .active-fav {
        background: url("../images/icon-favoritos.svg") no-repeat; }
      #trending-content .card-gif .icons-gif .icon-dow {
        background: url("../images/icon-download.svg") no-repeat; }
        #trending-content .card-gif .icons-gif .icon-dow:hover {
          background-image: url("../images/icon-download-hover.svg"); }
      #trending-content .card-gif .icons-gif .icon-max {
        background: url("../images/icon-max-normal.svg") no-repeat; }
        #trending-content .card-gif .icons-gif .icon-max:hover {
          background-image: url("../images/icon-max-hover.svg"); }
      #trending-content .card-gif .icons-gif .info {
        position: absolute;
        top: 60%;
        left: 0; }
        #trending-content .card-gif .icons-gif .info h5 {
          text-transform: capitalize;
          line-height: 20px;
          margin-left: 12px;
          color: white; }
    #trending-content .card-gif:hover .icons-gif {
      display: flex; }
  #trending-content .trending-gifos p {
    margin-left: 15em; }
  #trending-content .trending-gifos .slider-gifos {
    display: flex;
    justify-content: space-evenly; }
    #trending-content .trending-gifos .slider-gifos #slider-left {
      display: inline-block;
      margin-top: 4.5em;
      width: 40px;
      height: 40px;
      background: url("../images/button-slider-left.svg") no-repeat; }
      #trending-content .trending-gifos .slider-gifos #slider-left:hover {
        background: url("../images/button-slider-left-hover.svg") no-repeat; }
      body.dark #trending-content .trending-gifos .slider-gifos #slider-left {
        background: url("../images/button-slider-left-md-noct.svg") no-repeat; }
    #trending-content .trending-gifos .slider-gifos #slider-rigth {
      display: inline-block;
      margin-top: 4.5em;
      width: 40px;
      height: 40px;
      background: url("../images/Button-Slider-right.svg") no-repeat; }
      #trending-content .trending-gifos .slider-gifos #slider-rigth:hover {
        background: url("../images/Button-Slider-right-hover.svg") no-repeat; }
      body.dark #trending-content .trending-gifos .slider-gifos #slider-rigth {
        background: url("../images/button-slider-right-md-noct.svg") no-repeat; }

  #show-gifts-favs {
    grid-template-columns: repeat(4, 1fr); }
    #show-gifts-favs .card-gif {
      width: 260px; }
      #show-gifts-favs .card-gif .img-gif {
        max-width: 100%; }

  .no-favs .img-nofavs {
    width: 150px;
    margin-top: 6em; }
  .no-favs h3 {
    width: 450px; }

  #container-create-gifos .rectangle {
    width: 55vw;
    height: 390px;
    border: 1px solid #572EE5;
    margin: 0 auto; }
    #container-create-gifos .rectangle .top {
      display: flex;
      justify-content: space-between;
      margin: 10px; }
    #container-create-gifos .rectangle .container-text {
      text-align: center;
      width: 55vw;
      height: 300px; }
      #container-create-gifos .rectangle .container-text .text {
        padding-top: 100px; }
        #container-create-gifos .rectangle .container-text .text h2 {
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-size: 25px;
          color: #572EE5;
          text-align: center;
          line-height: 35px; }
          body.dark #container-create-gifos .rectangle .container-text .text h2 {
            color: white; }
          #container-create-gifos .rectangle .container-text .text h2 span {
            color: #50E3C2; }
        #container-create-gifos .rectangle .container-text .text p {
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          color: #000000;
          text-align: center;
          line-height: 29px; }
          body.dark #container-create-gifos .rectangle .container-text .text p {
            color: white; }
    #container-create-gifos .rectangle .bottom {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      align-items: flex-end; }
    #container-create-gifos .rectangle .square {
      width: 27px;
      height: 25px;
      border-top: 1px solid #50E3C2;
      border-left: 1px solid #50E3C2; }
    #container-create-gifos .rectangle .two {
      transform: rotate(-270deg); }
    #container-create-gifos .rectangle .three {
      transform: rotate(-90deg); }
    #container-create-gifos .rectangle .four {
      transform: rotate(-180deg); }

  .camera {
    position: absolute;
    top: 250px;
    left: 60px; }
    .camera #img-luz {
      position: absolute;
      top: 20px;
      left: 120px; }
    .camera #light-camera {
      display: block; }
      body.dark .camera #light-camera {
        display: none; }
    .camera #night-camera {
      display: none; }
      body.dark .camera #night-camera {
        display: block; }

  #container-numbers .numbers {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100px; }
  #container-numbers .number {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #572EE5;
    text-align: center;
    line-height: 30px;
    color: #572EE5; }
    body.dark #container-numbers .number {
      color: white;
      border: 1px solid white; }
      body.dark #container-numbers .number:hover {
        background: white;
        color: #000000; }
    #container-numbers .number:hover {
      background: #572EE5;
      color: white; }

  #second {
    position: relative; }
    #second #time-second {
      position: absolute;
      top: -60px;
      right: 22vw;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      color: #572EE5;
      line-height: 22px;
      display: none; }
      #second #time-second #repeat p {
        border-bottom: 2px solid #5ED7C6; }

  .movie {
    position: relative; }
    .movie .img-movie {
      position: absolute;
      top: -110px;
      right: 5vw; }
    .movie #light-movie {
      display: block; }
      body.dark .movie #light-movie {
        display: none; }
    .movie #night-movie {
      display: none; }
      body.dark .movie #night-movie {
        display: block; }

  .line {
    width: 63%;
    height: 7px;
    margin: 0 auto;
    background: #572EE5;
    margin-bottom: 2em; }

  .btn {
    display: block;
    width: 127px;
    height: 50px;
    margin-top: 5em;
    border: 1px solid #572EE5;
    border-radius: 25px;
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    margin: 0 auto;
    margin-bottom: 7em; }
    body.dark .btn {
      background: #37383C;
      border: 1px solid white;
      color: white; }
      body.dark .btn:hover {
        background: white;
        color: black; }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */ }
    .modal::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0; }
    .modal .modal-content {
      margin: auto;
      display: block;
      width: 60%; }
    .modal #caption {
      margin: auto;
      display: flex;
      justify-content: space-between;
      width: 60%;
      text-align: center;
      color: #ccc;
      padding: 25px 0;
      height: 150px; }
      .modal #caption .icons {
        width: 36px;
        height: 36px;
        border: 1px solid #CED7E1;
        border-radius: 6px;
        border-radius: 6px; }
      .modal #caption .icon-fav {
        background: url("../images/icon-fav.svg") no-repeat; }
      .modal #caption .active-fav {
        background: url("../images/icon-favoritos.svg") no-repeat; }
      .modal #caption .icon-dow {
        background: url("../images/icon-download.svg") no-repeat;
        margin-left: 1.5em; }
      .modal #caption p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #000000;
        text-transform: capitalize;
        line-height: 20px;
        text-align: left; }
      .modal #caption #title {
        font-weight: bold; }
    .modal .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #572EE5;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s; }

  #video {
    display: none; }

  footer .info-footer {
    display: flex;
    justify-content: start; }
    footer .info-footer p {
      margin-left: 9em; }
    footer .info-footer .red {
      margin: 0 25em 0 2em; }
      footer .info-footer .red .red1 {
        width: 2vw; }
        footer .info-footer .red .red1:hover {
          background: url("../images/icon_facebook_hover.svg") no-repeat; }
        body.dark footer .info-footer .red .red1 {
          background: url("../images/icon_facebook_noc.svg") no-repeat; }
      footer .info-footer .red .red2 {
        width: 3vw; }
        footer .info-footer .red .red2:hover {
          background: url("../images/icon-twitter-hover.svg") no-repeat; }
        body.dark footer .info-footer .red .red2 {
          background: url("../images/icon_twitter_noc.svg") no-repeat; }
      footer .info-footer .red .red3:hover {
        background: url("../images/icon_instagram-hover.svg") no-repeat; }
      body.dark footer .info-footer .red .red3 {
        background: url("../images/icon_instagram_noc.svg") no-repeat; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header nav .logo .img-logo {
    width: 15vw;
    margin-left: 7em; } }

/*# sourceMappingURL=styles.css.map */
